
.page{
    display: grid;    
    grid-template-columns: 11% 30% 13% 30% 13% ;
    grid-template-rows: 80px 500px ;
    gap: 10px;
}
p{
    padding-top: 20px;
    /* border: 1px solid ; */
}
.dat{
    background-color: red;
}
.navi{
    grid-area: 1/1/2/6;
}

.agregar{
    border: 2px solid;
    grid-area: 2/2/3/3;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 1em;    
}

.ingresar{
    border: 2px solid;
    grid-area: 2/4/3/5;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 1em;    
}





ul {
    list-style: none;
}

li {
    margin-top: 10px;
}
input,
label {
    width: 90px;
    text-align: left;
}

input
{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    vertical-align: top;
    height: 26px;
}
.btn{
    margin-left: 160px;
}

.msg{
    height: 50px;  
}
